body{
    background-color:#77216F;
    padding-top: 65px;
    color:#E95420;
    width: 70%;
    margin:0 auto;
}

table.equipment .equipment th ,.equipment td{

    border: 1px solid black;
}

.navbar{
    background-color:#411934;
}

h1{
    color:#E95420;
}


