<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Bulletin Board - Login</title>
     {% load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Community Bulletin Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href={% url 'index' %}>Home</a></li>
      <li><a href={% url 'login' %}>Login</a></li>
      <li class="active"><a href={% url 'create_user' %}>Create Account</a></li>
      <li><a href={% url 'admin_login' %}>Admin Login</a></li>
    </ul>
  </div>
</nav>
<body>
<h1>Create User</h1>
<form id="create_user" action={% url 'index' %}>
<label for='id'>User Name</label><br>
<input type='text' id='id'><br>
<label for='password'>Password</label><br>
<input type='password' id='password'><br>
<label for='passwordChk'>Re-enter Password</label><br>
<input type='passwordChk' id='passwordChk'><br>
<label for='email'>Email</label><br>
<input type='email' id='email'><br>
<input type='submit'>
</form>
</body>
<script>
 $(document).on('submit', '#create_user', function (e) {

            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url "database" %}",
                data:{
                    username:$('#id').val(),
                    password:$('#password').val(),
                    email:$('#email').val(),
                    action: 'post'
                },
                success:function(result){


                },
                error: function(e){
                    console.log(e);
                },
            });

        });
 </script>
</html>