<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Bulletin Board - Login</title>
     {% load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Community Bulletin Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={% url 'customer_portal' %}>Home</a></li>
      <li><a href={% url 'book_event' %}>Book Event</a></li>
      <li><a href={% url 'class_signup' %}>Class Signup</a></li>
      <li><a href={% url 'make_donation' %}>Make Donation</a></li>
        <li><a href={% url 'volunteer' %}>Volunteer</a></li>
        <li><a href={% url 'request_homecare' %}>Home Care</a></li>
         <li><a href={% url 'request_shuttle' %}>Shuttle Service</a></li>
        <li><a href={% url 'index' %}>Logout</a></li>

    </ul>
  </div>
</nav>
<div class="text-center">
<h1>Welcome User</h1>
<p>Welocme to the Community Bulletin Board Page!</p>
<p>This is a place where we can come together as a community and enjoy all of the services offered at our beautiful park service.</p>
<p>Many low cost and free services are offered to our users. We also encourage users to volunteer to help with teaching classes. </p>
</div>
<h1>All Classes</h1>
<table class="table table-bordered" style="width: auto !important">
    <tr>
        <th>Class</th>
        <th>Date</th>
        <th>Size</th>
    </tr>

    <tr>
        <td>Art</td>
        <td>3/4/2020</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Yoga</td>
        <td>3/7/2020</td>
        <td>25</td>
    </tr>
    <tr>
        <td>Archery</td>
        <td>3/23/2020</td>
        <td>25</td>
    </tr>

</table>
<h1>All Equipment</h1>
<table class="table table-bordered" style="width: auto !important">
    <tr>
        <th >Type</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>Karaoke Machine</td>
        <td>3</td>
    </tr>
</table>


</body>

</html>