<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Bulletin Board</title>
     {% load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Community Bulletin Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href={% url 'index' %}>Home</a></li>
      <li><a href={% url 'login' %}>Login</a></li>
      <li><a href={% url 'create_user' %}>Create Account</a></li>
      <li><a href={% url 'admin_login' %}>Admin Login</a></li>
    </ul>
  </div>
</nav>
<body>
<div class="text-center">
<h1>Welcome to the Community Bulletin Board</h1>
<img src='/static/images/park_gazebo.jpg'>
</div>
</body>
</html>