<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Bulletin Board - Login</title>
     {% load static %}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Community Bulletin Board</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href={% url 'admin_portal' %}>Home</a></li>
      <li><a href={% url 'view_classes' %}>View Classes</a></li>
      <li><a href={% url 'view_equipment' %}>View Equipment</a></li>
      <li class="active"><a href={% url 'view_events' %}>View Events</a></li>

        <li><a href={% url 'index' %}>Logout</a></li>

    </ul>
  </div>
</nav>
<div class="text-center">
<h1>Manage Events</h1>
<h1>All Events</h1>
<table class="table table-bordered" style="width: auto !important">
    <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Size</th>
    </tr>
    <tr>
        <td>Wedding</td>
        <td>3/7/2020</td>
        <td>200</td>
    </tr>
     <tr>
        <td>Graduation Party</td>
        <td>3/14/2020</td>
        <td>75</td>
    </tr>
     <tr>
        <td>Ceremony</td>
        <td>4/1/2020</td>
        <td>50</td>
    </tr>
     <tr>
        <td>Birthday Party</td>
        <td>5/7/2020</td>
        <td>45</td>
    </tr>

</table>
</div>
</body>

</html>